body{
    padding-top: 80px;
    background-color: #222
}


.dove-andare{
    font-size: 18px;
    height: 44px;
    line-height: 0px;
    margin-bottom: 0px;
    margin-left: 380px;
}

.navbar-brand{
    height: 80px;
    line-height: 50px;
}

.navbar-nav > li > a {

    height: 80px;
    line-height: 50px;

}

.carousel-inner > .item {
    min-height: 350px;
    background-size: cover;
    background-position: center center;
}

.jumbotron{
    position: relative;
    margin-left: 17%;
    box-shadow: 10px 10px 5px #dedede;
    border-radius: 10px 10px 10px 10px;
    max-height: 800px;
    max-width: 900px;
}



.form-control{

    max-width: 200px;
}

.scelta{
    position: relative;
    margin-left: 32%;
}
.scelta > p {
    float: left;
    padding-left: 30px;

}

.datiViaggio , .dateClass , .numero{
    position: relative;
    margin-left: 10%;
    clear: both;

}

.datiViaggio > p  {
    float: left;
    margin-left: 54px;

}

#inputArrivo{
    margin-left: 52px;
}

.datiViaggio > input {
    float: left;
    margin-left: 21px;
}

.dateClass > p {
    float: left;
    margin-left: 40px;
}

.dateClass > input{
    float: left;
    margin-left: 10px;
}

.numero > p {
    float: left;
    margin-left: 23px;
}

.numero > input{
    float: left;
    margin-left: 11px;
}

.btn-success{
    margin-left: 158px;
    min-width: 200px;
}
