body{
    padding-top: 80px;
    background-color: #222;
}



.navbar-brand {
    height: 80px;
    line-height: 50px;

}

#button_close{
  margin-left: 2%;
  margin-top: -9px;
}

#sfondo{
  background: url("img/verifica.jpg");
  min-height:200px;
  background-size: cover;
  background-position: center center;
}
